#{$app}-{
    &contact{
        &-{
            &wrapper{
                margin:auto;
                width:80%;
                padding-top:10rem;
            }
            &tagline{
                font-size:45px;
            }
        }
    }
}